{% extends 'layout.html' %}
{% block main %}
    <h2>{{ room.name }}</h2>
    {% if is_logged_in %}
    <h3>you are <span id="status">spectating</span></h3>
    {% else %}
    <h3>spectating</h3>
    {% endif %}
    <table id="game" border="0">
        {% for row in range(room.height) %}
            <tr>
            {% for cell in range(room.width) %}
                <td></td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <ol id="scores">
    </ol>

    </main>
    <script>
        let room_id = '{{ id }}';
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/game.js')}}"></script>
{% endblock %}